<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIH4Fhg7CRP8LP53Mx_8A0-JlOO4O-VXo</string>
	<key>GCM_SENDER_ID</key>
	<string>1015376401855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dailyremember</string>
	<key>PROJECT_ID</key>
	<string>daily-remember</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-remember.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015376401855:ios:02d34c27e682fc0641fd0a</string>
</dict>
</plist>